.App h1 {
	text-align: center;
}

.chat_container {
	display: grid;
	grid-template-columns: 20rem 40rem;
	grid-template-rows: minmax(20rem, auto);
	grid-gap: 1.2rem;
	justify-content: center;
	align-items: start;
}
.chat-users h3 {
	margin: 1rem 0 0 0;
	width: 100%;
}
.chat-users {
	min-height: 20rem;
	padding-left: 1rem;
	border: 1px solid black;
}

.chat-message-box {
	min-height: 20rem;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.chat-message-box__messages {
	padding: 1rem;
}
.chat-message-box__messages p {
	margin: 0;
}
.chat-message-box form {
	padding: 0;
	display: flex;
	gap: 0.2rem;
}
.chat-message-box form > * {
	height: 1.5rem;
}
.chat-message-box form input {
	width: 100%;
}
.chat-message-box form button {
	width: 5rem;
	height: 1.8rem;
}
