.home__container {
	margin: 5vh auto 0;
	background: linear-gradient(225deg, rgba(189, 203, 39, 1) 0%, rgba(27, 194, 219, 1) 100%);
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 60rem;
	gap: 1rem;
	font-family: 'Ubuntu', sans-serif;
	justify-items: center;
	border-radius: 0.5rem;
}

.home__container--form-header {
	grid-column: 1 / -1;
	color: #fff;
	font-weight: lighter;
}

.home__container--form {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 85%;
	gap: 1rem;
}
.home__container--form p {
	text-align: left;
	margin: 0 0 1rem;
}

@media only screen and (max-width: 900px) {
	.home__container {
		grid-template-columns: 1fr;
		align-items: center;
		margin: 0 auto;
		gap: 0;
		border-radius: 0;
		background: none;
		height: 100vh;
	}
	.home__container img {
		width: 20rem;
	}
	.home__container--form {
		align-self: flex-start;
		width: 90%;
	}
	.home__container--form-header {
		margin: 0;
	}
}
